<!-- src/app/app.component.html -->
<div class="container">
  <div class="header">
    <img src="https://wso2.cachefly.net/wso2/sites/all/wso2con/2024/wso2con2024-white.webp" alt="WSO2Con 2024"
      class="logo">
    <app-login-button></app-login-button>
  </div>
  <div class="content-wrapper"> <!-- Flex container for the menu and blog -->
    <app-vertical-menu></app-vertical-menu> <!-- The vertical menu on the left -->
    <div class="main-content">
      <app-blog-entry></app-blog-entry> <!-- The blog entry in the middle -->
    </div>
  </div>
</div>